@import "define";

.tgc2.tgc2-concept-graph{
  font-family: @default-font;
  .prompt {
    border: 0;
    background: @color-bg-1;
    width: 150px;
    input {
      background: transparent;
    }
  }
  .tgc2-info-bottom {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 20px;
    padding: 0 16px;
    .info-bottom {
      span[name] {
        color: @color-emphases;
      }
    }
  }
  .tgc2-info-top {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 8px 16px;
    li {
      line-height: 30px;
      i {
        margin-right: 8px;
      }
    }
    .current {
      i {
        color: @color-emphases;
      }
    }
    .concept {
      i {
        color: @color-primary;
      }
    }
    .instance {
      i {
        color: @color-primary;
      }
    }
  }
  .tgc2-page-container button {
    svg {
      fill: @color-primary;
    }
    &:hover svg{
      fill: @color-light;
    }
  }
  .tgc2-right-panels{
    width: 0;
  }
}