@import "define";

.tgc2.tgc2-concept-graph{
  font-family: @default-font;
  .tgc2-info-bottom {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 20px;
    padding: 0 16px;
    .info-bottom {
      span[name] {
        color: @color-emphases;
      }
    }
  }
  .tgc2-info-top {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 48px;
    padding: 8px 16px;
    li {
      line-height: 30px;
      .legend-circle,.legend-circle-o {
        margin-right: 8px;
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: -3px;
      }
    }
    .current {
      .legend-circle {
        background-color: @color-emphases;
      }
    }
    .concept {
      .legend-circle {
        background-color: @color-primary;
      }
    }
    .instance {
      .legend-circle-o {
        border:2px solid @color-primary;
      }
    }
  }
}