/* define end */
.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  color: #fff !important;
  background-color: #00b38a !important;
  border: 1px solid #00b38a !important;
  outline: none !important;
}
.btn-primary:hover {
  color: #fff !important;
  background-color: #00a17c !important;
  border: 1px solid #00a17c !important;
}
.btn-primary[disabled],
.btn-primary[disabled]:hover {
  color: #fff !important;
  background-color: #d9f4ee !important;
  border: 1px solid #d9f4ee !important;
}
.btn-primary-outline,
.btn-primary-outline:focus,
.btn-primary-outline:active {
  background-color: #fff !important;
  color: #00b38a !important;
  border: 1px solid #00b38a !important;
  outline: none !important;
}
.btn-primary-outline:hover {
  color: #fff !important;
  background-color: #00a17c !important;
  border: 1px solid #00a17c !important;
}
.pagination {
  margin: 30px 0;
}
.pagination > .page_num,
.pagination > .page_text {
  color: #00b38a;
  cursor: pointer;
  border-color: #ddd;
}
.pagination > .page_text {
  font-family: "宋体";
  vertical-align: 1px;
  font-weight: bold;
}
.pagination > .page_num:hover,
.pagination > .page_num.active,
.pagination > .page_text:hover {
  background: #00b38a;
  border-color: #00b38a;
  color: #fff;
}
