/* define end */
.hiekn-resource-nav-container {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #ddd;
}
.hiekn-resource-nav-container .hiekn-resource-nav {
  position: absolute;
  border-bottom: 0;
  top: 0;
  left: 0;
}
.hiekn-resource-nav-container .hiekn-resource-nav > li > a {
  font-size: 14px;
  color: #333;
  height: 61px;
  line-height: 38px;
  border: 0;
  width: 130px;
  text-align: center;
  padding: 10px 0;
}
.hiekn-resource-nav-container .hiekn-resource-nav > li > a .res-name {
  max-width: calc(100% - 60px);
  display: inline-block;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hiekn-resource-nav-container .hiekn-resource-nav > li > a .res-count {
  background: #effbf7;
  padding: 0 8px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #999;
  color: #00b38a;
  margin-left: 4px;
  word-break: keep-all;
  white-space: nowrap;
  vertical-align: 14px;
}
.hiekn-resource-nav-container .hiekn-resource-nav > li > a .res-count:empty {
  display: none;
}
.hiekn-resource-nav-container .hiekn-resource-nav > li.active > a,
.hiekn-resource-nav-container .hiekn-resource-nav > li:hover > a {
  border-bottom: solid #00b38a;
  border-width: 0 0 3px;
  color: #00b38a;
  background: #fff;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more {
  display: inline-block;
  height: 61px;
  line-height: 58px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  color: #333;
  padding: 0 16px;
  cursor: pointer;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more:hover {
  color: #00b38a;
  border-bottom: 3px solid #00b38a;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container {
  position: absolute;
  top: 60px;
  max-width: 440px;
  padding: 8px 16px 0 8px;
  right: 0;
  background: #fff;
  z-index: 1;
  box-shadow: 0 0 5px #ddd;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li {
  margin-bottom: 8px;
  width: 200px;
  height: 32px;
  padding-left: 16px;
  text-align: left;
  padding-top: 5px;
  float: left;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  color: #333;
  background: #fcfdfc;
  margin-left: 8px;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li a {
  display: block;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li span.res-count {
  font-size: 12px;
  line-height: 22px;
  color: #999;
  color: #00b38a;
  padding: 0 8px;
  border-radius: 8px;
  background: #effbf7;
  margin-left: 4px;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li span.res-count:empty {
  display: none;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li:hover,
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li.active {
  background: #d9f4ee;
  color: #00b38a;
}
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li:hover a,
.hiekn-resource-nav-container .hiekn-resource-nav-more-container li.active a {
  color: #00b38a;
}
