.control-bar {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  font-size: 24px;
  padding: 16px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  color: #999999;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.control-bar:hover {
  color: #00b38a;
}
.nav {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  width: 320px;
  background: #ffffff;
  box-shadow: 1px 0 3px #999;
  padding-top: 56px;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.nav .search {
  height: 56px;
  border-top: 1px solid #dedede;
}
.nav .search #prompt {
  width: 100%;
  padding: 12px;
  height: 54px;
  border: 0;
}
.nav .search #prompt .hiekn-search-prompt {
  top: 55px;
  width: 100%;
  margin: 0;
  left: 0;
}
.nav .tree {
  border-top: 1px solid #dedede;
  height: 100%;
  overflow: auto;
  color: #999999;
  line-height: 30px;
}
.nav .tree [data-page] {
  color: #666666;
}
.nav .tree .tree-item {
  cursor: pointer;
}
.nav .tree .tree-item + ul {
  display: none;
}
.nav .tree li.on > ul {
  display: block;
  padding-left: 16px;
}
.main {
  top: 0;
  bottom: 0;
  left: 320px;
  right: 0;
  position: fixed;
  z-index: 1;
  background: #ffffff;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.main .top-bar {
  height: 56px;
  background: #00b38a;
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
.main .top-bar .title {
  margin-left: 16px;
  font-size: 24px;
  color: #ffffff;
  line-height: 56px;
  display: inline-block;
}
.main .top-bar .btn {
  margin: 11px 16px 0 0;
  float: right;
}
.main .api-page {
  height: calc(100% - 56px);
  overflow: auto;
  display: none;
  padding: 0 16px;
}
.main .api-page.active {
  display: block;
}
.main .api-page .page-title {
  color: #00b38a;
  height: 56px;
  font-size: 24px;
  line-height: 56px;
}
.main .api-page .api-page-item {
  margin: 8px 0;
}
.main .api-page .api-page-item .title {
  color: #00b38a;
  font-size: 16px;
}
.main .api-page .api-page-item li {
  margin-top: 8px;
  list-style: none;
}
.main .api-page .api-page-item [data-page] {
  color: #00b38a;
  cursor: pointer;
}
.main .api-page .api-page-item .sub-title .kw {
  font-weight: bold;
}
.main .api-page .api-page-item .api-detail {
  padding-left: 32px;
}
.main .api-page .api-page-item .api-detail .kw {
  color: #00b38a;
}
.main .api-page .api-page-item .api-detail .desc {
  color: #999999;
}
.close-nav .control-bar {
  color: #ffffff;
}
.close-nav .nav {
  left: -320px;
}
.close-nav .main {
  left: 0;
}
.close-nav .main .top-bar {
  padding-left: 40px;
}
